spring:
  server:
    forward-headers-strategy: native

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/LensLog?serverTimezone=Asia/Seoul&characterEncoding=UTF-8}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST:localhost}
      port: ${SPRING_DATA_REDIS_PORT:6379}
      password: ${SPRING_DATA_REDIS_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQL8Dialect
    show-sql: true

  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 30MB

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: ${SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH}
          starttls:
            enable: ${SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE}
            required: ${SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_REQUIRED}
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
    auth-code-expiration-millis: 1800000

  security:
    return-url: ${PROD_REDIRECT_URL}
    oauth2:
      client:
        proxy-url: https://www.lenslog.cloud
        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub

        registration:
          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET}
            redirect-uri: https://www.lenslog.cloud/login/oauth2/code/kakao
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            client-name: Kakao
            scope: [profile_nickname, profile_image, account_email]
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: https://www.lenslog.cloud/login/oauth2/code/google
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            client-name: google
            scope: profile,email,https://www.googleapis.com/auth/user.birthday.read
          naver:
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_CLIENT_SECRET}
            redirect-uri: https://www.lenslog.cloud/login/oauth2/code/naver
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            client-name: Naver
            scope: [ nickname, email, name, profile_image ]

logging:
  level:
    com.querydsl.sql: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG
    org.springframework.web.filter.ForwardedHeaderFilter: DEBUG

jwt:
  secret: ${JWT_SECRET}

minio:
  url: ${MINIO_URL:http://localhost:9000}
  bucket:
    photo:
      name: ${MINIO_BUCKET_PHOTO}
    thumbnail:
      name: ${MINIO_BUCKET_THUMBNAIL}
  access:
    name: ${MINIO_ACCESS_KEY}
    secret: ${MINIO_SECRET_KEY}
  public:
    endpoint: ${MINIO_PUBLIC_ENDPOINT}

recaptcha:
  verify-url: https://www.google.com/recaptcha/api/siteverify
  secret-key: ${RECAPTCHA_SECRET}

springdoc:
  swagger-ui:
    operations-sorter: none
    path: /swagger
  api-docs:
    path: /api-docs

# Naver
#            "response": {
#              "email": "openapi@naver.com",
#              "nickname": "OpenAPI",
#              "profile_image": "https://ssl.pstatic.net/static/pwe/address/nodata_33x33.gif",
#              "age": "40-49",
#              "gender": "F",
#              "id": "32742776",
#              "name": "오픈 API",
#              "birthday": "10-01",
#              "birthyear": "1900",
#              "mobile": "010-0000-0000"
#            }


# Kakao
#            HTTP/1.1 200 OK
#            {
#              "id": 123456789,
#              "connected_at": "2022-04-11T01:45:28Z",
#              "kakao_account": {
#                                 // 프로필 또는 닉네임 동의항목 필요
#                "profile_nickname_needs_agreement": false,
#                                 // 프로필 또는 프로필 사진 동의항목 필요
#                "profile_image_needs_agreement": false,
#                "profile": {
#                             // 프로필 또는 닉네임 동의항목 필요
#                  "nickname": "홍길동",
#                             // 프로필 또는 프로필 사진 동의항목 필요
#                  "thumbnail_image_url": "http://yyy.kakao.com/.../img_110x110.jpg",
#                  "profile_image_url": "http://yyy.kakao.com/dn/.../img_640x640.jpg",
#                  "is_default_image": false,
#                  "is_default_nickname": false
#                },
#                                 // 이름 동의항목 필요
#                "name_needs_agreement": false,
#                "name": "홍길동",
#                                 // 카카오계정(이메일) 동의항목 필요
#                "email_needs_agreement": false,
#                "is_email_valid": true,
#                "is_email_verified": true,
#                "email": "sample@sample.com",
#                                 // 연령대 동의항목 필요
#                "age_range_needs_agreement": false,
#                "age_range": "20~29",
#                                 // 출생 연도 동의항목 필요
#                "birthyear_needs_agreement": false,
#                "birthyear": "2002",
#                                 // 생일 동의항목 필요
#                "birthday_needs_agreement": false,
#                "birthday": "1130",
#                "birthday_type": "SOLAR",
#                                 // 성별 동의항목 필요
#                "gender_needs_agreement": false,
#                "gender": "female",
#                                 // 카카오계정(전화번호) 동의항목 필요
#                "phone_number_needs_agreement": false,
#                "phone_number": "+82 010-1234-5678",
#                                 // CI(연계정보) 동의항목 필요
#                "ci_needs_agreement": false,
#                "ci": "${CI}",
#                "ci_authenticated_at": "2019-03-11T11:25:22Z",
#              },
#              "properties": {
#                "${CUSTOM_PROPERTY_KEY}": "${CUSTOM_PROPERTY_VALUE}",
#                              ...
#              },
#              "for_partner": {
#                "uuid": "${UUID}"
#              }
#            }

# Google
#  {
#    "iss": "https://accounts.google.com",
#    "azp": "클라이언트 ID",
#    "aud": "클라이언트 ID",
#    "sub": "사용자 고유 식별자",
#    "hd": "google.com", // Google Workspace 계정의 경우 도메인
#    "email": "user@example.com",
#    "email_verified": true,
#    "at_hash": "...",
#    "name": "홍길동",
#    "picture": "https://lh3.googleusercontent.com/a/...",
#    "given_name": "길동",
#    "family_name": "홍",
#    "locale": "ko",
#    "iat": 1678886400, // 발행 시간 (Unix Timestamp)
#    "exp": 1678890000 // 만료 시간 (Unix Timestamp)
#  }